body {
  color:#110EF0;
  background-position: center; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
 line-height: 1.6em;
 margin: 0; 
 }
header {
  background-color: orange;
 
}
h2 {
  background-color: #E5FA0F;
}

.article1 {
   background-color: #F7D914;
}

.article2 {
  background-color: #E01FB3;
  opacity: .75
}

.aside1 {
  background-color: #36FA2B;


}